
@import "@fontsource/playfair-display";
@import "@fontsource/open-sans";

body {
  font-family: "playfair-display", sans-serif;
  background-color: #f0f0f0;
  color: #333;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #4d54ceaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title {
  background-image: linear-gradient(to right, #ffd977 0, #ffd977 100%);
  background-position: 0 94%;
  background-repeat: repeat-x;
  background-size: 100% 5px;
  transition: background-image .25s ease;
  line-height: 1.1;
}